.popularPlace {
  box-sizing: border-box;
  margin: 200px 100px;

  h1 {
    margin: 0 0 40px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
  }

  &__cont {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12.5px;
  }

  &__el{
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    svg{
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  &__name {
    position: absolute;
    left: 24px;
    bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #FFFFFF;
    }
  }

  &__score {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 35px;
    background: #3BB33B;
    border-radius: 8px;

    &_back {
      background: #8E8E8E;
    }

    p {
      height: fit-content;
      margin: 0;
      color: white;
      font-family: 'Raleway';
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      font-feature-settings: 'pnum' on, 'lnum' on;
    }
  }
}