.navigation {
  min-height: 803px;
  width: 100%;
  display: flex;
  margin-bottom: 77px;

  &__el{
    cursor: pointer;
    position: relative;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    p{
      position: absolute;
      left: 100px;
      bottom: 42px;
      margin: 0;
      word-break: break-word;
      font-family: 'Raleway';
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: #FFFFFF;
    }
  }
}